
.body{
    background-image: url(../images/pedidosbackground.jpg);
    background-repeat: no-repeat ;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    background-color: #f8edef;
    color: rgb(59, 73, 78);
}

header{
    width: 100%;
    display: inline-block;
   
    border-bottom: solid #77d8d6;
    border-top: solid #77d8d6 ;
    margin-top: 50px;
    padding: 10px;
    background-color: #77d8d650;
}

img{
    float: left;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:70px 45px;
   padding: 25px;
    justify-content: center;
    background-color: #f7b8c16b;
    row-gap: 10px;
    font-family: sans-serif;
    border-radius: 10px;
}
input{
    width: 100%;
   
   outline: none;
    border: solid 1px #ff8795;

 }
 form textarea{
    height: 75px;;
    width: 100%;
    resize:none;
    outline: none;
    border: solid 1px #ff8795;

 }
 .btn-form{
    background-color: #f8b6bd; ;
    padding: 5px;
    border-radius: 10px;
    border-color: #ff8795;
    color: rgb(65, 62, 62);
 }
 .btn-form:hover{
    background-color: #fd9aa6;
 }

 .table{ display: flex;
   align-content: center;
   align-items: flex-start;
   padding: 30px 50px;
   padding-top: 0;
 }
 #tablaDePedidos{
   width: 100%;
   border-collapse: collapse;
    text-transform: uppercase;
    text-align: center;
 }
 #tablaDePedidos th,#tablaDePedidos td{
    padding: 5px 10px;
    background-color: #fff1f8;
    border: solid 1px #ccc9c9;
 }
 .tabla-ped{

    text-transform: lowercase;
 }
 .tabla-row:hover{
   cursor: pointer;
  color: #ff8795;
 }

 .entregado{
   text-transform: capitalize;
   color: rgb(37, 172, 37);
 }
 .enProceso{
   color: rgb(241, 88, 88)
 }
 .tablaPedidoModal{
   border: solid 5px rgb(127, 229, 255);
   padding: 0px;
   border-radius: 30px;
 }
 #editarListaPed{
   margin: 0px;
   padding: 40px;
 }
 .btnModal{
   font-family: cursive;
   color: rgb(32, 32, 32);
   padding: 8px;
   border:double;
   border-radius: 5PX;
   background-color:rgb(136, 231, 255); ;
 }
 .btnModal:hover{
background-color: #b2f1f0;
 }