body{
    background-color: rgb(244, 217, 216);
}

form{
    background-color:rgb(198,225,241) ;
    margin: 50px;
    padding:100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: cursive;
    color: rgb(85, 135, 148);
}
input{
    height: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none; 
    resize: none;
    outline: none;
}
textarea{
   height: 200px;
    width: 100%;
    border-radius: 5px;
    border-color: rgb(198,225,241);
    resize: none;
    outline: none;
}
.btn-form{
    text-transform: uppercase;
    text-align: center;
    font-family:cursive;
    color: white;
    font-weight:bold;
    background:rgb(74, 161, 219);
    width:80px;
    height:25px
}
.btn-form:hover{
    background-color:  rgba(29, 155, 228, 0.5);
    cursor: pointer;
}
.conteiner-title{
    background-image: url(../images/backformtitle.jpg);
    margin-top: 50px;
    background-size: cover;
    display: flex;
    height: 500PX;
    width: 100%;
}
.title{
    display: flex;
    height: max-content;
    margin-left: 20px;
    padding: 60px;
    align-items: center;
    text-align: center;
    border-radius: 360px;
    background-color: rgba(203, 228, 253, 0.39);
   font-family: cursive;
   text-transform: capitalize;
   
   color:#534453;
}
.p-tittle{
    display: flex;
    align-self: flex-end;
    height: max-content;
    margin: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 60px;
    align-items: center;
    text-align: center;
    background-color: rgba(203, 228, 253, 0.39);
    border-radius: 360px;
    font-family: cursive;
    color: rgb(71, 70, 70);
    font-style: oblique;
    font-size:larger;
  
}

.container-form{
    background-color: rgb(243, 185, 183);
    display: flex;
    flex-direction: column;
    justify-content:center;
  
}
footer{
    display: flex;
    flex-direction: row;
}
.footer{
    background-color:  rgb(244, 217, 216);
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.tittle{ 
    padding-left: 10px;
    font-family: sans-serif;
    font-style:italic;


}
.redes{
    margin:2px;
    padding: 2px;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: sans-serif;
    color: rgb(59, 56, 56);
    font-size:small ;
}
a{
    color: rgb(120, 153, 153);
}
a:hover{
    color: rgb(83, 212, 212);
}

.modal{
    background-color: #fde3e6;
    border: solid 5px rgb(170, 226, 226);
    border-radius: 10px;
}
.title-modal{
    font-family: cursive;
    font-size:x-large;
    color: rgb(132, 173, 207);
    text-transform: uppercase;
    text-align: center;
}
.p-modal{
    font-family: cursive;
    font-style: italic;
    text-align: center;
    font-size: larger;
    color: rgb(78, 75, 75);
}
.btn-close{
    padding: 10px;
    background-color: #FEB5BE;
    border: solid 2px #f78996;
    border-radius: 10px;
    font-family: cursive;
    font-size: x-small;
    color: rgb(78, 75, 75);
   text-transform: uppercase;
}
.btn-close:hover{
    background-color: #fdbfc6;
    cursor: pointer;
}