body{
    background-color: rgb(244, 217, 216);
}

form{
    background-color:rgb(198,225,241) ;
    margin: 50px;
    padding:100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: cursive;
 color: rgb(85, 85, 148);
}
input{
    height: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none; 
    resize: none;
}
textarea{
   height: 200px;
    width: 100%;
    border-radius: 5px;
    border-color: rgb(198,225,241);
    resize: none;
}
.btn-form{
    margin-top: 20px;
    height: 20px;
    width: 100px;
    text-align: center;
    font-style: italic;
    font-family:cursive;
    border:none;
    color: rgb(69, 69, 107);
    cursor: pointer;
    text-transform: uppercase;
    
    
}
.btn-form:hover{
    background-color: rgb(106, 200, 243);
}
.conteiner-title{
    background-image: url(../images/backformtitle.jpg);
    background-size: cover;
    display: flex;
    height: 500PX;
    width: 100%;
}
.title{
    display: flex;
    height: max-content;
    margin-left: 20px;
    padding: 32px;
    align-items: center;
    text-align: center;
    border-radius: 360px;
   background-color: rgb(244, 217, 216, 0.8);
   font-family: cursive;
   text-transform: uppercase;
   text-decoration:underline;
   color:#533737;
}
.p-tittle{
    display: flex;
    align-self: flex-end;
    height: max-content;
    margin: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 40px;
    align-items: center;
    text-align: center;
    background-color: rgb(242, 245, 248,);
    font-family: cursive;
    color: rgb(71, 70, 70);
    font-style: oblique;
    font-size:larger;
  
}

.container-form{
    background-color: rgb(243, 185, 183);
    display: flex;
    flex-direction: column;
    justify-content:center;
  
}
footer{
    display: flex;
    flex-direction: row;
}
.footer{
    background-color:  rgb(244, 217, 216);
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.tittle{ 
    padding-left: 10px;
    font-family: sans-serif;
    font-style:italic;


}
.redes{
    margin:2px;
    padding: 2px;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: sans-serif;
    color: rgb(59, 56, 56);
    font-size:small ;
}
a{
    color: rgb(120, 153, 153);
}
a:hover{
    color: rgb(83, 212, 212);
}
#modal{
    
}